<form action="answer">
  <label for="question">Ask your couch anything</label>
  <div class="form-inline">
    <input type="text" name="question" class="form-control">
    <input type="submit" value="Ask!" class="btn btn-primary">
  </div>
</form>
